body {
  background-image: url("img/koi.jpg");
  background-size: 100% auto;
 }
 
.container { 
  opacity: 80%;
}

.text {
  float: left;
}

.headshot img{
  width: 20%;
  border-radius: 100%;
  transform: rotate(90deg);
  float: right;
 } 
