.container {
  background-image:url('img/koi.jpg');
  position: absolute;
}


img {
  width: 20%;
  border-radius: 100%;
  transform: rotate(90deg);
  float: right;
 } 

 body {
   font-family: 'Courier New', Courier, monospace;
 }
 

.row {
  position: relative;
}