/* body {
  background-image:url('img/koi.jpg');
  background-repeat: repeat-x;
}

.container {
  background-image:url('img/koi.jpg');
  background-repeat:no-repeat;
} */

img {
  width: 20%;
  border-radius: 100%;
  transform: rotate(90deg);
  text-align: left;
 } 

 body {
   font-family: 'Courier New', Courier, monospace;
 }
 

